body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.navbar {
    background-color: #b30000;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.form-container {
    background-color: white;
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 8px;
    text-align: left;
    /* flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; */
}
form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-container h1 {
    color: #b30000;
}

.form-container p {
    color: #555;
    margin-bottom: 20px;
}

form input,
form select {
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    right: 3%;
}
form button {
    width: 100%;
    padding: 12px;
    background-color: #b30000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #800000;
}
.footer {
    background-color: #b30000;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
