body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.navbar {
    background-color: #b30000;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.search-container {
    background-color: white;
    width: 400px;
    margin: 80px auto 20px;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

.search-container h1 {
    color: #b30000;
}

.search-container p {
    color: #555;
}

select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
input{

    width: 94%;
 padding: 10px;
    margin: 10px 0;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #b30000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #800000;
}
.result-container {
    background-color: white;
    width: 400px;
    margin: 0 auto 80px;
    padding: 20px;
    border-radius: 8px;
}

.result-container h3 {
    color: #b30000;
}
.footer {
    background-color: #b30000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
